@keyframes moveLetters {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Huruf bergerak ke atas */
    }
    100% {
        transform: translateY(0); /* Kembali ke posisi semula */
    }
}